---
import "../style/carousel.css";
---

<!-- Carousel -->
<div class="carousel">
    <div class="list">
        <div class="item">
            <img
                src="https://res.cloudinary.com/dronteu5m/image/upload/v1742665695/Esmeralda/xjry4qs8zuczgrwmivyc.webp"
                alt=""
            />
            <div class="intro">
                <div class="title">CERVEZA-CELESTUN</div>
                <div class="topic">AMERICAN PALE ALE</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam eveniet dolorem hic harum voluptate ea recusandae,
                    nemo culpa at rem!
                </div>
                <button class="seeMore"> Ver Más &#8599 </button>
            </div>
            <div class="detail">
                <div class="title"></div>
                <div class="des"></div>
                <div class="specification">
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--item 2-->
        <div class="item">
            <img
                src="https://res.cloudinary.com/dronteu5m/image/upload/v1742665695/Esmeralda/m9lfzmawk7e9na5tonmt.webp"
                alt=""
            />
            <div class="intro">
                <div class="title">CERVEZA-COLORADA</div>
                <div class="topic">AMERICAN PALE ALE</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam eveniet dolorem hic harum voluptate ea recusandae,
                    nemo culpa at rem!
                </div>
                <button class="seeMore"> Ver Más &#8599 </button>
            </div>
            <div class="detail">
                <div class="title">COLORADA</div>
                <div class="">
                    <strong>$42 Mx</strong>
                </div>
                <div class="des">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam voluptates dolorem tempora est veniam nobis
                    deleniti quas id animi suscipit.
                </div>
                <div class="specification">
                    <div>
                        <p>Mezcla</p>
                        <p>Malta y lúpulo selectos.</p>
                    </div>
                    <div>
                        <p>Sabor</p>
                        <p>Cítrico y floral suave.</p>
                    </div>
                    <div>
                        <p>Combina con</p>
                        <p>Carnes asadas y quesos.</p>
                    </div>
                    <div>
                        <p>Color</p>
                        <p>Ámbar dorado brillante.</p>
                    </div>
                    <div>
                        <p>Volumen de alcohol</p>
                        <p>5.5%</p>
                    </div>
                </div>
                <div class="chekout"></div>
            </div>
        </div>
        <div class="item">
            <img
                src="https://res.cloudinary.com/dronteu5m/image/upload/v1742665695/Esmeralda/xou0yezj9bsiwdqcybrc.webp"
                alt=""
            />
            <div class="intro">
                <div class="title">CERVEZA-OASIS</div>
                <div class="topic">AMERICAN PALE ALE</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam eveniet dolorem hic harum voluptate ea recusandae,
                    nemo culpa at rem!
                </div>
                <button class="seeMore"> Ver Más &#8599 </button>
            </div>
            <div class="detail">
                <div class="title"></div>
                <div class="des"></div>
                <div class="specification">
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="chekout"></div>
            </div>
        </div>
        <div class="item">
            <img
                src="https://res.cloudinary.com/dronteu5m/image/upload/v1742612864/Esmeralda/ezn7dihmcj43b8dijyx6.webp"
                alt=""
            />
            <div class="intro">
                <div class="title">CERVEZA-YUCATAN</div>
                <div class="topic">AMERICAN PALE ALE</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam eveniet dolorem hic harum voluptate ea recusandae,
                    nemo culpa at rem!
                </div>
                <button class="seeMore"> Ver Más &#8599 </button>
            </div>
            <div class="detail">
                <div class="title"></div>
                <div class="des"></div>
                <div class="specification">
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrows">
        <button id="prev">&lt;</button>
        <button id="back">Volver &#8599</button>
        <button id="next">></button>
    </div>
</div>

<script src="/src//JS/app.js"></script>
