---
interface Props {
    title_form: string;
    text_form: string;
}

const props = Astro.props;
---

<div class="w-full flex flex-col items-center py-4" id="contacto">
    <form
        action="https://formspree.io/f/xjkywdoj"
        method="POST"
        class="p-6 bg-white shadow-lg rounded-lg"
    >
        <div>
            <h2 class="font-bold text-3xl my-6">{props.title_form}</h2>
        </div>
        <div>
            <p class="py-3">
                {props.text_form}
            </p>
        </div>
        <div class="py-6">
            <label class="block text-gray-700">
                Nombre completo
                <input
                    type="text"
                    name="name"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
            </label>
        </div>
        <div class="py-6">
            <label class="block text-gray-700">
                Numero de telefono
                <input
                    type="tel"
                    name="phone"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
            </label>
        </div>
        <div class="py-6">
            <label class="block text-gray-700">
                Direccion completa
                <input
                    type="text"
                    name="direccion"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
            </label>
        </div>
        <div class="py-6">
            <label class="block text-gray-700">
                Correo
                <input
                    type="text"
                    name="email"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
            </label>
        </div>
        <div class="py-6">
            <label>
                <p class="py-2">¿Tienes algún comentario?</p>
                <textarea
                    name="message"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                ></textarea>
            </label>
        </div>
        <button
            type="submit"
            class="bg-btn hover:bg-slate-700 text-white px-6 py-2 rounded-md"
            >Envíar</button
        >
    </form>
</div>
