---
import "../style/noticias.css";
---

<div class="container">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="news">
            <li class="card">
                <div class="img">
                    <a
                        href="https://www.instagram.com/p/DHcMaHPxtnK/"
                        target="_blank"
                    >
                        <img
                            src="https://res.cloudinary.com/dronteu5m/image/upload/v1745193764/Esmeralda/w5j0kt0gwmlka1qx4pxi.jpg"
                            alt=""
                            draggable="false"
                        />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a
                        href="https://www.instagram.com/esmeraldabrewing/p/DDfjKQgP8S9/"
                        target="_blank"
                    >
                        <img
                            src="https://res.cloudinary.com/dronteu5m/image/upload/v1745193764/Esmeralda/ktocxnk4ubd2ifjocndb.jpg"
                            alt=""
                            draggable="false"
                        />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a
                        href="https://www.instagram.com/esmeraldataproom/p/DFqs4thpYSr/"
                        target="_blank"
                    >
                        <img
                            src="https://res.cloudinary.com/dronteu5m/image/upload/v1743125189/Esmeralda/es5auaqgzbazreibbbs8.jpg"
                            alt=""
                            draggable="false"
                        />
                    </a>
                </div>
            </li>
            <li class="card">
                <div class="img">
                    <a
                        href="https://www.instagram.com/p/DF_E4yWpcoj/"
                        target="_blank"
                    >
                        <img
                            src="https://res.cloudinary.com/dronteu5m/image/upload/v1745193764/Esmeralda/atj11jzvibzzmcwkbbhu.jpg"
                            alt=""
                            draggable="false"
                        />
                    </a>
                </div>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>

<script src="/src/JS/carousel.js"></script>
